#
# Copyright (c) 2019 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at:
#
#     https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: JKube E2E Tests

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 1 * * *' # Everyday at 1

env:
  JKUBE_REPOSITORY: https://github.com/eclipse/jkube.git
  JKUBE_REVISION: master

jobs:
  build-jkube:
    name: Build JKube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache configuration
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ./jkube
          key: cache-it-${{ github.run_id }}
      - name: Checkout JKube Repository
        run: |
          rm -rf jkube \
          && git clone "$JKUBE_REPOSITORY" --branch "$JKUBE_REVISION" jkube
      - name: Install JKube
        run: |
          mvn -B -f "jkube/pom.xml" -DskipTests clean install
      - name: Install Integration Tests (Downloads dependencies)
        run: |
          ./mvnw -B -DskipTests clean install \
          && ./mvnw -B -DskipTests clean  -P'quarkus','quarkus-native','springboot','webapp','other','dockerfile'

  minikube:
    name: K8S
    needs: build-jkube
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        kubernetes: [v1.12.0,v1.24.0]
        suite: ['quarkus','quarkus-native','springboot','webapp','other','dockerfile']
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache configuration
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ./jkube
          key: cache-it-${{ github.run_id }}
      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.6.1
        with:
          minikube version: v1.25.2
          kubernetes version: ${{ matrix.kubernetes }}
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: --force
      - name: Install and Run Integration Tests
        run: |
          JKUBE_VERSION=$(./mvnw -q -f 'jkube/pom.xml' -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec) \
          && ./mvnw -B -PKubernetes,${{ matrix.suite }} clean verify -Djkube.version="$JKUBE_VERSION"
      - name: Save reports as artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Test reports (Minikube ${{ matrix.kubernetes }}-${{ matrix.suite }})
          path: ./it/target/jkube-test-report.txt

  openshift:
    name: OpenShift
    needs: build-jkube
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        openshift: [v3.9.0,v3.11.0]
        suite: ['quarkus','springboot','webapp','other']
    steps:
      - name: Free up Space
#            'linux-headers.*'                       \ # Takes > 2 minutes
#            'google-cloud.*'                        \
        run: |
          sudo apt list --installed
          sudo apt-get purge -y                     \
            'aspnetcore.*'                          \
            'cabal-install.*'                       \
            'clang.*'                               \
            'dotnet.*'                              \
            'firefox.*'                             \
            'ghc.*'                                 \
            'google-chrome.*'                       \
            'libmagic.*'                            \
            'libmono.*'                             \
            'mono-.*'                               \
            'mysql.*'                               \
            'php.*'                                 \
            'ruby.*'
          sudo apt-get autoremove
          df -h
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache configuration
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ./jkube
          key: cache-it-${{ github.run_id }}
      - name: Setup OpenShift
        uses: manusa/actions-setup-openshift@v1.1.3
        with:
          oc version: ${{ matrix.openshift }}
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install and Run Integration Tests
        run: |
          JKUBE_VERSION=$(./mvnw -q -f 'jkube/pom.xml' -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec) \
          && ./mvnw -B -POpenShift,${{ matrix.suite }} verify -Djkube.version="$JKUBE_VERSION" -Djunit.jupiter.execution.parallel.config.fixed.parallelism=4
      - name: Save reports as artifact
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: Test reports (OpenShift ${{ matrix.openshift }}-${{ matrix.suite }})
          path: ./it/target/jkube-test-report.txt
      - name: Cluster Information
        if: always()
        run: |
          oc login -u system:admin
          oc describe node localhost
          oc login -u developer
