#
# Copyright (c) 2019 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at:
#
#     https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#
# Contributors:
#   Red Hat, Inc. - initial API and implementation
#

name: OpenShift OSCI - E2E tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *' # Every day at 1

permissions:
  contents: read

jobs:
  build-jkube:
    name: Build JKube
    uses: ./.github/workflows/build-jkube.yml
    with:
      run-id: ${{ github.run_id }}

  openshift-osci:
    name: OpenShift OSCI
    needs: build-jkube
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Setup Java 11
        uses: actions/setup-java@0ab4596768b603586c0de567f2430c30f5b0d2b0
        with:
          java-version: '11'
          distribution: 'temurin'
      - name: Cache configuration
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
        with:
          path: |
            ~/.m2/repository
            ./jkube
          key: cache-it-${{ github.run_id }}
      - name: Install and Run Integration Tests
        run: |
          JKUBE_VERSION=$(./mvnw -q -f 'jkube/pom.xml' -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec) \
          && ./mvnw -B -PKubernetes,${{ matrix.suite }} clean verify -Djkube.version="$JKUBE_VERSION"
      - name: Save reports as artifact
        if: always()
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08
        with:
          name: Test reports (Minikube ${{ matrix.kubernetes }}-${{ matrix.suite }})
          path: ./it/target/jkube-test-report.txt
